.pics{
    margin: 10px;
    display: flex;

}

.pictureBox{
    width: 10%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 20px;

}

/* .likes{
    margin-bottom: 10px;
} */

h2{
    margin:0px
}