.pics{
    margin: 10px;
    display: flex;

}

.pictureBox{
    width: 10%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 20px;

}

.descriptionBox{
    width: 250px;
    height: 250px;
    text-align: center;
    align-items: center;
    text-shadow: darkblue;
    display: flex;
    background-size: cover;
}
h2{
    margin:0px
}