.App {
  text-align: center;
  background-color: rgb(211, 203, 188) ;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

.inspiration{
  margin-top: 50px;
  text-align:center
}

